<ion-header>
  <ion-navbar>
    <ion-title>loginPage</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
		</ion-item>
		<ion-item>
			<ion-input placeholder="Password" [(ngModel)]="password"></ion-input>
		</ion-item>
	</ion-list>
	<button ion-button full (click)="login()">Log in</button>
</ion-content>
